<h2> Shorten-url </h2>
<%= form_for @url do |f| %>
	<% if @url.errors.any? %>
	<h3> Errors: </h3>
	<ul>
		<% @url.errors.full_messages.each do |msg| %>
			<li> <%= msg %></li>
			<% end %>
		</ul>
		<% end %>
			<p>
		<%= f.label :original %> : <%= f.text_field :original %>
	</p>
	

	<%= f.hidden_field :random_id , :value => @url.random_id %><br/>

	<%= f.submit %>

<% end %>
